<div class="left-container">
  <div class="input-container">
    <h2>Amend Your Budget</h2>
    <div class="dropdown open">
      <button id="" class="" data-toggle="dropdown">Receipt</button>
      <div class="dropdown-menu">
        <a id="type-receipt" class="" data-splitting>Receipt</a>
        <a id="type-expense" class="" data-splitting>Expense</a>
        <a id="type-investment" class="" data-splitting>Investment</a>
      </div>
    </div>

    <div class="">
      <img class="" src="../../../assets/images/receipt.png" height="40" width="40" />
    </div>

    <fieldset>
      <mat-form-field appearance="legacy">
        <mat-label>Description</mat-label>
        <input matInput type="text">
        <mat-icon matSuffix>
          <fa-icon [icon]="faPen"></fa-icon>
        </mat-icon>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Amount</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label style="font-size: 18px;">Today - {{todayDate | date:'MMM d, y'}}</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </fieldset>

    <div class="right-container">
      <h4 class="lastTrans">Last transactions</h4>
      <div id="short-list" class=""></div>
      <a class="display-full-expenses" href="" data-splitting>Open full list</a>
    </div>
  </div>
