.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

// input.example-right-align {
//   -moz-appearance: textfield;
// }

mat-form-field {
  width: 500px;
}