<div class="content row">
  <menu class="menu">
    <div class="menu-items">
      <!-- <a class="fa fa-envelope" href="mailto:myMail@gmail.com" aria-hidden="true">a</a> -->
      <!-- <i class="fa fa-paint-brush" type="button" data-toggle="modal" data-target="#setting-modal">a</i> -->
      <fa-icon [icon]="faInstagram"></fa-icon>
      <fa-icon [icon]="faPaperPlane"></fa-icon>
      <fa-icon [icon]="faEnvelope" href="mailto:myMail@gmail.com"></fa-icon> <!---->
      <fa-icon [icon]="faPalette" data-target="#setting-modal"></fa-icon> <!---->
      <fa-icon [icon]="faGit"></fa-icon>
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </div>
  </menu>
</div>