app-number-chart,
app-bar-vertical-stacked,
app-line-chart {
  display: flex;
  justify-content: center;
}

.inline-charts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 20px;
}

.else {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
}
