<div class="sort-btns">
  <button mat-button class="btn-primary">Date</button>
  <button mat-button class="btn-secondary">Category</button>
  <button mat-button class="btn-warning">Amount</button>
  <button mat-button class="btn-danger">Default</button>
  <button mat-button class="btn-success">Delete All</button>
</div>

<div 
  class="expense-row glass" 
  *ngFor="let exp of expenseList | 
    paginate: { 
      itemsPerPage: 5, 
      currentPage: page,
      totalItems: totalLength
  }"  
  [ngClass]="{ 'receipt': exp.amount >= 0, 'expense': exp.amount < 0 }"
  >
  <div class="col-2">            {{ exp.date | date:'MMM d, y' }}</div>
  <div class="col-2 border-left">{{ exp.category }}</div>
  <div class="col-1 border-left">{{ exp.amount }} $</div>
  <div class="col-5 border-left">{{ exp.description }}</div>

  <div class="btns">
    <button 
      class="btn-edit mx-1" 
      mat-mini-fab 
      color="primary" 
      (click)="onEditBtn(exp)">
      <fa-icon [icon]="faPenSquare"></fa-icon>
    </button>

    <button 
      class="btn-delete mx-1" 
      mat-mini-fab 
      color="warn" 
      (click)="onDelBtn(exp)">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>
</div>
<pagination-controls (pageChange)="page = $event"></pagination-controls>
