<div class="expenses-container row">

  <div class="receipt col-6">
    <div class="">
      <h4>Receipts</h4>
      <img class="" src="../../../assets/images/receipt.png" height="40" width="40" />
    </div>
    <div *ngFor="let item of budgetItems">
      <app-expense-row 
      *ngIf="item.amount > 0" 
      [item]="item" 
      (cardClick)="onCardClicked(item)"
      (delBtnClick)="onDeleteItem(item)"></app-expense-row>
    </div>
  </div>

  <div class="expense col-6">
    <div class="">
      <h4>Expenses</h4>
      <img class="" src="../../../assets/images/expense.png" height="40" width="40" />
    </div>
    <div *ngFor="let item of budgetItems">
      <app-expense-row 
      *ngIf="item.amount < 0" 
      [item]="item" 
      (cardClick)="onCardClicked(item)"
      (delBtnClick)="onDeleteItem(item)"></app-expense-row>
    </div>
  </div>

</div>