.mat-card {
  display: block;
  position: relative;
  width: 1000px;
  text-align: center;
  background: transparent;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px;
  padding-bottom: 50px;
  border-radius: 4px;

  input.mat-chip-input {
    text-align: center;
    width: 150px;
    margin: 4px;
    display: flex;
    flex: 1 0 150px;
    margin: 10px auto;
  }

  .mat-chip-list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .mat-card-header {
    margin: 0 -15px 5px -50px;
  }

  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  }

  .btn-save {
    display: flex;
    margin: 20px auto;
    text-transform: uppercase;
  }
}
