<div 
  class="expense-row row mx-1" 
  *ngFor="let exp of expenseList"  
  (click)="onCardClick()"
  [ngClass]="{ 'receipt': exp.amount >= 0, 'expense': exp.amount < 0 }"
  >

  <div class="expense-date col-2 border">         {{ exp.date | date:'MMM d, y' }}</div>
  <div class="expense-category col-2 border">     {{ exp.category }}</div>
  <div class="expense-category col-2 border">     {{ exp.category }}</div>
  <div class="expense-description col-5 border">  {{ exp.description }}</div>
  <div class="expense-amount col-2 border">       {{ exp.amount }} $</div>
  <div class="expense-id">                      {{ exp.id }}</div>
  <!-- <div class="expense-id" style="display: none;"> {{ exp.id }}</div> -->
  <button class="btn-delete col-1" (click)="onDelBtnClick()">x</button>

</div>
