<div class="social-links">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>
      <fa-icon class="user" [icon]="faUserCircle"></fa-icon>
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a href="mailto:aleks.thunder.m@gmail.com">
        <fa-icon [icon]="faEnvelope"></fa-icon>Mail author
      </a>
    </button>

    <button mat-menu-item>
      <a href="https://github.com/aleks-thunder" target="_blank">
        <fa-icon [icon]="faGit"></fa-icon>GitHub
      </a>
    </button>

    <button mat-menu-item>
        <a href="https://www.linkedin.com/in/oleksandr-moisieienko-b39a52238/" target="_blank">
          <fa-icon [icon]="faLinkedin"></fa-icon>Linkedin
        </a>
    </button>
  </mat-menu>
</div>
