@keyframes unblur {
  to {
    -webkit-filter: blur(0);
  }
}
@keyframes blur {
  to {
    -webkit-filter: blur(5px);
  }
}

.glass,
.mat-card {
  width: 500px;
  height: 400px;
  border-radius: 50px;
}

.glass {
  animation: unblur 0.5s 0.3s ease both;
  filter: blur(5px);
  margin: auto;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  background-color: rgba(75, 223, 242, 0.15);

  .mat-card {
    background: transparent;

    h1 {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    mat-form-field {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
    }

    .btn-submit {
      display: flex;
      margin: 20px auto;
      width: max-content;
      font-size: 24px;
    }
  }
}
