.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.red {
  color: red;
}

.green {
  color: green;
}

app-categories {
  position: relative;
  top: -30px;
}

app-input {
  position: relative;
  top: 40px;
}